/* Pseudo Classes For Form Validation */
input:invalid:required {
    border: 2px solid red;
}

input:valid {
    border: 2px solid #000000;
}

input:required {
    border: 2px solid ;
}

/* Checkbox When Checked */
input[type="checkbox"]:checked {
    box-shadow: 0 0 0 3px gold;
}

/* Radio When Checked */
input[type="radio"]:checked {
    box-shadow: 0 0 0 3px gold;
  }

/* Form Style */
form {
    text-align: center;
    background-color: black;
    height: 550px;
    width: 500px;
    margin-left: 550px;
    border: 3px solid red;
    color: #ffffff;
}

/* HTML Style */
html {
    background-color: #8B939C;
}

/* Center Mobile Number */
.mobile {
    text-align: center;
}