/* Pseudo Classes For Form Validation */
input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid black;
}

input:required {
    border: 1px solid black;
}


/* Form Styling */
form {
    text-align: center;
    background-color: aquamarine;
    height: 550px;
    width: 500px;
    margin-left: 550px;
    border: 1px solid black;
}