/* Pseudo Classes For Form Validation */
input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid black;
}

input:required {
    border: 1px solid black;
}


/* Form Style */
form {
    text-align: center;
    background-color: black;
    height: 550px;
    width: 500px;
    margin-left: 550px;
    border: 3px solid red;
    color: #ffffff;
}

/* HTML Style */
html {
    background-color: #8B939C;
}